:root {
  --col-background: aliceblue;
  --col-accent: gray;

  /*clamp: min limit, preferred, maximum limit */
  --fs-Title: clamp(2.3rem, 5vw, 8rem);
  --fs-Subtitle: clamp(1rem, 1.3vw, 2rem);
  --fs-Section-Header: clamp(2rem, 3vw, 6rem);
  --fs-Numbers: clamp(3rem, 5vw, 8rem);
  --fs-Subsection-Header: clamp(1.5rem, 2vw, 3rem);
  --fs-normal: clamp(1rem, 1.2vw, 2rem);
}

.app-container {
  //background-color: var(--col-background);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.5%;
  height: 90vh;
}

/*
----------------------Text Styles
*/
h1 {
  font-size: 64px;
  margin: 0 0 0 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
  margin-bottom: 8px;
}

p,
summary,
span {
  font-size: var(--fs-normal);
}

a {
  font-size: var(--fs-normal);
  margin: 3% 0% 2.5% 0%;
  text-decoration: none;
  color: black;
}
/*
---------------------Common Styles
*/
.flex-row-container {
  display: flex;
  flex-direction: column;
}

/*
----------------------Cursor Interactions-------------------------------------------------------
*/

.clickable:hover {
  cursor: pointer;
}

/*
-----------------------Journal Componenent---------------------------------------------------------
*/
.journal-container {
  margin: 5% 10% 0% 10%;
  padding-bottom: 10%;
}

.cover {
  display: grid;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cover div {
  margin: 5% 5% 5% 5%;
}

.cover img {
  grid-row: 1;
  grid-column: 1;
  display: block;
  border-radius: 0.5em;
  object-fit: contain;
  width: 100%;
}

/*
-----------------------List Item -------------------------------------------------------------------
*/

.list-item-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list-item-flex div {
  aspect-ratio: 1 / 1;
  border-radius: 0.5em;
  display: grid;
  justify-content: center;
}

.list-item-flex img {
  grid-row: 1;
  grid-column: 1;
  display: block;
  border-radius: 0.5em;
  object-fit: contain;
  width: 100%;
}

.list-item-flex h5 {
  grid-row: 1;
  grid-column: 1;
  color: white;
  margin: 40% 0% 40% 0%;
  align-items: center;
  display: none;
}

.list-item-flex div:hover h5 {
  display: block;
}

.list-item-flex img:hover {
  opacity: 10%;
}

/*
----------------------Filter List ---------------------------------------------------------------
*/

.tag-filter-bar,
.tag-bar {
  margin-bottom: 3%;
  margin-top: 2%;
}

.tag-filter-bar span,
.tag-bar span {
  margin-right: 3%;
  padding: 0.5% 2.5% 0.5% 2.5%;
  border-radius: 20px;
}

.tag-filter-bar span:hover {
  cursor: pointer;
}

.active-tag {
  background-color: var(--col-accent);
}
.unactive-tag {
  background-color: white;
  color: gray;
}

.scrollable-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 3% 3% 0% 0%;
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .scrollable-container {
    overflow-y: auto;
    padding-bottom: 20%;
    height: 50vh;
  }
}

/*
-----------------------Double Layout------------------------------------------------------------- 
*/
.double-container {
  display: flex;
  flex-direction: column;
}
.left-double-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20%;
}

.right-double-container {
  flex-basis: 50%;
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .double-container {
    flex-direction: row;
    height: 85vh;
    overflow: hidden;
  }
  .left-double-container {
    padding-top: 0%;
  }
}

/*
------------------------Header Styles---------------------------------------------------------------
*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

header > nav > span {
  margin-left: 60%;
}
