:root {
  --col-background: aliceblue;
  --col-accent: gray;
  --col-button: cornflowerBlue;

  /*clamp: min limit, preferred, maximum limit */
  --fs-Title: clamp(36px, 5vw, 64px);
  --fs-Subtitle: clamp(20px, 3vw, 24px);
  --fs-Header: clamp(24px, 3vw, 34px);
  --fs-normal: clamp(1rem, 1.2vw, 2rem);
  --fs-subscript: clamp(1rem, 1vw, 10px);
}

.app-container {
  //background-color: var(--col-background);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
  height: 90vh;
  font-family: "Work Sans", sans-serif;
}

@media (min-width: 600px) {
  .app-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/*
----------------------Text Styles
*/
h1 {
  font-size: var(--fs-Title);
  margin: 0 0 0 0;
  font-weight: 500;
}

h2 {
  font-size: var(--fs-Subtitle);
  font-weight: 400;
}

h3 {
  font-size: var(--fs-Header);
  font-weight: 500;
}

h4 {
  font-size: var(--fs-Subtitle);
  margin-bottom: 8px;
  font-weight: 400;
}

h5 {
  font-size: small;
  font-weight: 500;
}

p,
summary,
span {
  font-size: var(--fs-normal);
}

.tag-filter-bar span,
.tag-bar span {
  font-size: smaller;
}

a {
  font-size: var(--fs-normal);
  margin: 3% 0% 2.5% 0%;
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--col-button);
}

.footnotes {
  color: gray;
}
.footnotes li,
.footnotes a {
  margin-bottom: 1%;
}

/*
---------------------Common Styles
*/
.flex-row-container {
  display: flex;
  flex-direction: column;
}

.tag-filter-bar span,
.tag-bar span,
.button {
  margin-right: 3%;
  margin-bottom: 2%;
  padding: 0.5% 2.5% 0.5% 2.5%;
  border-radius: 20px;
  display: inline-block;
}

.button {
  border: 1px solid black;
  width: max-content;
}

.button:hover {
  border: 1px solid var(--col-button);
  color: var(var(--col-button));
}

hr {
  margin-top: 10%;
}

/*
----------------------Cursor Interactions-------------------------------------------------------
*/

.tag-filter-bar span:hover,
.clickable:hover {
  cursor: pointer;
}

.footnotes .clickable:hover {
  color: var(--col-button);
}

/*
------------------------- CSS Color Swatch -----------------------------------------------------
*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
}

/*
-----------------------Journal Gallery------------------------------------------------------------
*/
/*Credit: https://www.w3schools.com/css/tryit.asp?filename=trycss3_flexbox_image_gallery */

.journal-gallery {
  columns: 1;
  break-inside: avoid;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}

.journal-gallery li {
  list-style-type: none;
}

.journal-gallery img {
  width: 100%;
  display: block;
  object-fit: cover;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 0.5em;
}

@media (min-width: 600px) {
  .journal-gallery {
    columns: 2;
  }
}

/*
-----------------------Journal Componenent---------------------------------------------------------
*/
.journal-container {
  margin: 15% 5% 0% 5%;
  padding-bottom: 10%;
}

.cover {
  display: grid;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cover div {
  margin: 5% 0% 5% 0%;
}

.cover img {
  grid-row: 1;
  grid-column: 1;
  display: block;
  border-radius: 0.5em;
  object-fit: contain;
  width: 100%;
}

figure {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

@media (min-width: 600px) {
  .journal-container {
    margin: 5% 10% 0% 10%;
  }
}

/*
-----------------------List Item -------------------------------------------------------------------
*/

.list-item-flex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list-item-flex div {
  aspect-ratio: 1 / 1;
  border-radius: 0.5em;
  display: grid;
  justify-content: center;
}

.list-item-flex img {
  grid-row: 1;
  grid-column: 1;
  display: block;
  border-radius: 0.5em;
  object-fit: contain;
  width: 100%;
}

.list-item-flex h5 {
  grid-row: 1;
  grid-column: 1;
  color: white;
  margin: 40% 0% 40% 0%;
  align-items: center;
  display: none;
}

.list-item-flex div:hover h5 {
  display: block;
}

.list-item-flex img:hover {
  opacity: 10%;
}

/*
----------------------Filter List ---------------------------------------------------------------
*/

.tag-filter-bar,
.tag-bar {
  margin-bottom: 3%;
  margin-top: 2%;
}

.active-tag {
  background-color: black;
  color: white;
}
.unactive-tag {
  background-color: white;
  color: gray;
}
.unactive-tag:hover {
  background-color: white;
  color: var(--col-button);
}

.scrollable-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  padding: 3% 3% 0% 0%;
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .scrollable-container {
    overflow-y: auto;
    padding-bottom: 20%;
    grid-template-columns: repeat(3, 1fr);
    height: 50vh;
  }
}

/*
-----------------------Double Layout------------------------------------------------------------- 
*/

.double-container {
  display: flex;
  gap: 2em;
}

.left-double-container {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
  //background-color: var(--col-background);
  border-radius: 1em;
}

.right-double-container {
  flex-basis: 50%;
  margin-top: 10vh;
  align-items: center;
}

@media (orientation: landscape) {
  .double-container {
    flex-direction: row;
    height: 85vh;
    overflow: hidden;
  }
  .left-double-container {
    padding-top: 0%;
    margin: 2% 2% 2% 2%;
  }
}

@media (orientation: portrait) {
  .double-container {
    flex-direction: column;
    gap: 2em;
  }
  .left-double-container {
    padding-top: 20%;
    background-color: white;
  }

  .right-double-container {
    margin-top: 5vh;
    text-align: center;
  }
}

.socialButton {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 5% 5% 5% 5%;
  padding: 5% 5% 5% 5%;
  background-color: black;
  border-radius: 100%;
}
/*
------------------------Header Styles---------------------------------------------------------------
*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

header > nav > span {
  margin-left: 60%;
}

header > nav > span:hover {
  color: var(--col-button);
}
