:root {
  --col-background: aliceblue;
  --col-accent: gray;
}

.app-container {
  background-color: var(--col-background);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2.5%;
}

/*
----------------------Text Styles
*/
h1 {
  font-size: 64px;
  margin: 0 0 0 0;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
  margin-bottom: 8px;
}

/*
----------------------Filter List ---------------------------------------------------------------
*/
.tag-filter-bar span {
  margin-right: 3%;
  padding: 1% 3% 1% 3%;
  border-radius: 20px;
  background-color: var(--col-accent);
}

.scrollable-container {
  background-color: antiquewhite;
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .scrollable-container {
    overflow-y: auto;
    background-color: antiquewhite;
    padding-bottom: 20%;
    height: 50vh;
  }
}

/*
-----------------------Double Layout------------------------------------------------------------- 
*/
.double-container {
  display: flex;
  flex-direction: column;
}
.left-double-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10%;
  padding-top: 20%;
}

.right-double-container {
  flex-basis: 50%;
}

@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .double-container {
    flex-direction: row;
    height: 85vh;
    overflow: hidden;
  }
  .left-double-container {
    padding-bottom: 10%;
    padding-top: 0%;
  }
}

/*
------------------------Header Styles---------------------------------------------------------------
*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header > nav {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

nav > span {
  margin-left: 60%;
}
